@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: black;
    text-align: center;
    color: white;
}
header {
    width: 75%;
}
main  {
    width: 75%;
    background-color: white;
    margin: 20px auto;
    display: flex;
  }
.photo {
    width: 150px;
}
.flex {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
.flexR {
    flex-direction: row;
    flex-wrap: nowrap;
}
.flexC {
    flex-direction: column;
}
.grid33 {
    width: 33%;
}
.grid66 {
    width: 66%;
}
.grid99 {
    width: 99%;
}
.item {
    width: 25%;
  }
.item2 {
    width: 25%;
    background-color: gray;
}
  .item {
      width: 25%;
    }